{% extends 'auth/base.html' %}

{% block content %}

<div class="container pt-24 mb-40">
    <h1 class="form-heading text-center">
        Email address for reset password
    </h1>
    <div class="login-form">
        <div class="main-div">

            {% include 'flash/error.html' %}

            <form action="{% url 'password_reset' %}" id="Login" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Type your email address">

                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}